<Configuration status="DEBUG" verbose="false">
  <Appenders>
    <Local name="local" />
    <Legacy name="legacy" />
    <FromJar name="from-jar" />
  </Appenders>

  <Loggers>
    <Logger name="test.log4j3.PluginTest" level="info" additivity="false">
      <AppenderRef ref="local" />
      <AppenderRef ref="legacy" />
      <AppenderRef ref="from-jar" />
    </Logger>
  </Loggers>
</Configuration>
